// fonts
.fp {font-family: 'Source Sans Pro',sans-serif;} // font primary
.fh {font-family: 'Anton',sans-serif;} // font header
.fi {font-family: sans-serif;} // font icon

// body
@bb: #fff; // body background

// colors
@blue1: #0b4966;
@blue2: #106891;
@blue3: #168fc6;
@blue4: #12ccf3;
@cp: #000000; // color primary
@cl: @blue1; // color link

// font sizes
@fsp: 16px; // font size primary
@fsh1: 36px; // font size h1
@fsh2: 28px; // font size h2
@fsh3: 24px; // font size h3
@fsh4: 20px; // font size h4
@fsh5: @fsp; // font size h5
@fsh6: @fsp; // font size h6

// line heights
@lh1: 1; // line height 1
@lhh: 1.2; // line height header
@lhp: 1.4; // line height primary

// layout
@content-width: 980px;
@content-padding: 10px;