.mod_breadcrumbs{
	ul{
		.rul;
		.clearfix;
		margin: 0 0 20px;
		li{
			float: left;
			margin-right: 13px;
			padding: 0 0 0 28px;
			font-size: 13px;
			color: @blue3;
			&:before{
				.fp;
				font-size: 18px;
				line-height: 1;
				top: -1px;
				content: '\2192';
				color: #999;
			}
			&:first-child {
				padding-left: 0;
				&:before{
					display: none;
				}
			}
			a {
				color: #999;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}
.mod_menu-main {
	float: right;
	ul {
		.rul;
		li {
			.rli;
			.fh;
			display: inline-block;
			text-transform: uppercase;
			font-size: 23px;
			line-height: 1.2;
			color: #fff;
			&:before{
				.fh;
				position: static;
				font-size: 23px;
				line-height: 1.2;
				content: '/';
				margin: 0 0 0 14px;
			}
			&:first-child {
				&:before{
					display: none;
				}
			}
			a {
				.transition(0.2s);
				color: #fff;
				margin: 0 0 0 15px;
				text-decoration: none;
				&:hover{
					color: @blue4;
				}
			}
		}
	}
}
		.kwicks {
		    width: 960px;
		}
.mod_custom-slider {
	position: relative;
	top: -84px;
	margin: 0 0 -84px;
	ul {
		.clearfix;
		.rul;
		position: relative;
		width: 960px;
		height: 418px;
		&.kwicks-processed {
			li {
				position: absolute;
			}
		}
		li {
			.rli;
			float: left;
			height: 418px;
			overflow: hidden;
			a {
				position: relative;
				display: block;
				color: #fff;
				text-decoration: none;
				&:before{
					position: absolute;
					content: '';
					top: 0;
					right: 0;
					z-index: 1;
					border-bottom: 60px solid transparent;
					border-right: 60px solid #262626;
				}
				figure {
					position: relative;
					img {
						position: relative;
						left: 50%;
						margin-left: -240px;
						display: block;
						max-width: inherit;
					}
				}
				h2 {
					position: absolute;
					left: 0;
					bottom: 0;
					width: 150px;
					min-height: 140px;
					padding: 15px 0 20px 20px;
					margin: 0;
					font-size: 23px;
					line-height: 1.55;
					text-transform: uppercase;
					text-shadow: -1px -1px 0 fade(#000,20%);
					background: @blue1;
					color: #fff;
					span {
						position: relative;
						z-index: 1;
					}
					&:before{
						position: absolute;
						content: '';
						top: 0;
						left: 100%;
						border-top: 200px solid transparent;
						border-left: 130px solid @blue1;
					}
				}
			}
			&:nth-child(2) {
				a {
					h2 {
						background: @blue2;
						&:before{
							border-left-color: @blue2;
						}
					}
				}
			}
			&:nth-child(3) {
				a {
					h2 {
						background: @blue3;
						&:before{
							border-left-color: @blue3;
						}
					}
				}
			}
			&:nth-child(4) {
				a {
					h2 {
						background: @blue4;
						&:before{
							border-left-color: @blue4;
						}
					}
				}
			}
		}
	}
}
.mod_custom-buttons {
	padding: 64px 0 70px;
	.items {
		.clearfix;
		margin: 0 -15px;
		.item {
			float: left;
			padding: 0 15px;
			width: 33.33333%;
			a {
				.box-shadow(1px 1px 4px fade(#000,50%));
				display: block;
				position: relative;
				height: 130px;
				margin: 0 0 0 70px;
				color: #000;
				font-size: 15px;
				line-height: 1.25;
				text-decoration: none;
				background: #d0dac4;
				&:before,&:after{
					.transition(0.2s);
					position: absolute;
					content: '';
					bottom: 13px;
					right: 16px;
					border: 16px solid transparent;
					border-right-width: 0;
					border-left-width: 10px;
					border-left-color: @blue3;
				}
				&:after {
					right: 17px;
					border-left-color: #d0dac4;
				}
				.icon {
					.border-radius(50%);
					.transition(0.2s);
					position: absolute;
					left: -80px;
					top: -5px;
					width: 140px;
					height: 140px;
					padding: 18px 0 0;
					text-align: center;
					background: url(../images/bg/01.png) no-repeat;
				}
				h2 {
					color: @blue1;
					font-size: 21px;
					line-height: 1.25;
					text-transform: uppercase;
					margin: 0 0 10px;
					background: #fff;
					padding: 10px 10px 10px 75px;
				}
				p {
					padding: 0 30px 0 75px;
				}
				&:hover{
					&:before{
						right: 13px;
					}
					&:after{
						right: 14px;
					}
					.icon {
						.box-shadow(0 0 20px @blue4);
					}
				}
			}
		}
	}
}
.mod_menu-category {
	position: relative;
	top: -84px;
	margin: 0 0 -84px;
	ul {
		.rul;
		.clearfix;
		li {
			.rli;
			float: left;
			width: 25%;
			a {
				.fh;
				.transition(0.2s);
				position: relative;
				text-transform: uppercase;
				font-size: 21px;
				line-height: 1.35;
				display: block;
				height: 84px;
				padding: 14px 40px 0 20px;
				background: @blue1;
				color: #fff;
				text-decoration: none;
				&:hover{
					background: lighten(@blue1,5%);
				}
				&:before{
					position: absolute;
					content: '';
					top: 0;
					right: 0;
					z-index: 1;
					border-bottom: 60px solid transparent;
					border-right: 60px solid #262626;
				}
			}
			&:nth-child(2) {
				a {
					background: @blue2;
					&:hover{
						background: lighten(@blue2,5%);
					}
				}
			}
			&:nth-child(3) {
				a {
					background: @blue3;
					&:hover{
						background: lighten(@blue3,5%);
					}
				}
			}
			&:nth-child(4) {
				a {
					background: @blue4;
					&:hover{
						background: lighten(@blue4,10%);
					}
				}
			}
			&.act {
				a {
					color: @blue1;
					background: #fff;
					&:hover{
						background: #fff;
					}
				}
			}
		}
	}
}